{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["ie >= 11", "safari >= 9", "chrome >= 52", "edge >= 17"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}