<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6">
      <h1 class="" rv-i18n-text="'404.title'">{{'404.title'|t}}</h1>
      <p class="" rv-i18n-html="'404.content_html'">{{'404.content_html'|t}}</p>
    </div>
  </div>
</div>