{% paginate blog.articles by 10 %}
  <div {% comment %} FIXME rv-view='{"listenAllLinks": false, "containerSelector": "#blog-pagination", "scrollToTop": false, "action": "append", "datasetToModel": false}'{% endcomment %} id="blog-pagination">
    {% for article in blog.articles %}
      {% include 'jumplink-article-list-item' %}
    {% endfor %}
    {% include 'jumplink-pagination' with viewId: 'blog-pagination' %}
  </div>
{% endpaginate %}
