{% section 'story-header' %}

<div class="container">

  {% paginate blog.articles by 5 %}

    {% if current_tags %}
      <h1 class="hidden">
        {{ blog.title | link_to: blog.url }}<span class="quiet">&raquo;</span>{{ current_tags.first }}
      </h1>
    {% else %}
      <h1 class="hidden">
        {{ blog.title }}
      </h1>
    {% endif %}

    <div class="articles">

      {% for article in blog.articles %}
        {% if forloop.last %}
          {% include 'jumplink-article-list-item', border: false %}
        {% else %}
          {% include 'jumplink-article-list-item', border: true %}
        {% endif %}
      {% endfor %}

      {% include 'pagination' %}

    </div>

  {% endpaginate %}

</div>