{% assign estimateShippingRate = true %}
{% assign showLoginHeader = false %}
{% assign showCartPageLink = false %}

<div class="container-fluid pt-5">
  <div class="row pt-5">
    <div class="col-12 col-md-auto offset-md-2">
      <rv-shopify-cart shipping-address='{{ customer.default_address | json }}' estimate-shipping-rate="{{ estimateShippingRate }}">
        {% include 'jumplink-shopping-cart-body' with showLoginHeader, estimateShippingRate, showCartPageLink %}
      </rv-shopify-cart>

      <p class="my-3">
        <button class="btn btn-link px-0" rv-route-back-on-click >
          <small rv-i18n-text="'cart.continue'">{{'cart.continue'|t}}</small>
        </button>
      </p>

    </div>
  </div>
</div>
