<router-view id="products-pagination" class="container-fluid" listen-all-links="false" dataset-to-model="false" parse-title="false" scroll-to-top="false" prefetch-links="true" action="append">
  {% paginate collection.products by 40 %}
    <div class="row">
      {% render 'product-collection-grid-item-col-ratio-3by4' for collection.products as product, collection: collection, colClass: 'col-6 col-lg-4 col-xl-3' %}
      <div class="col-12 mt-5">
        {% render 'jumplink-pagination', paginate: paginate, paginate_hash: paginate_hash, viewId: 'products-pagination' %}
      </div>
    </div>
  {% endpaginate %}
</router-view>