<div class="container-fluid">
  {% paginate collection.products by 50 %}
    <div class="row">
        {% for product in collection.products %}
          {% include 'jumplink-product-collection-grid-item-col-ratio-3-4' with product, collection, colClass: 'col-12 col-md-6' %}
        {% endfor %}
    </div>
    {% include 'jumplink-pagination', show_all_active: true %}
  {% endpaginate %}
</div>