<div class="container-fluid">
  {% paginate collection.products by settings.products_per_page %}
    <div class="row">
        {% for product in collection.products %}
          {% include 'jumplink-product-grid-item' with settings.products_per_page %}
        {% endfor %}
        {% include 'jumplink-pagination', show_all_active: true %}
    </div>
  {% endpaginate %}
</div>