<router-view id="products-pagination" class="container-fluid" listen-all-links="false" dataset-to-model="false" parse-title="false" scroll-to-top="false" prefetch-links="true" action="append">
  {% paginate collection.products by 40 %}
    <div class="row">
      {% for product in collection.products %}
        {% include 'product-collection-grid-item-col-ratio-3by4' with product, collection, colClass: 'col-6 col-lg-4 col-xl-3' %}
      {% endfor %}
      <div class="col-12">
        {% include 'jumplink-pagination' with viewId: 'products-pagination' %}
      </div>
    </div>
  {% endpaginate %}
</router-view>
