<div class="container-fluid pt-5">

  {{ content_for_index }}

  <h1>test {dataset.title}</h1>
  <h1 rv-text="'test2'"></h1>
  <h1 rv-html="dataset.title"></h1>

  <div class="row">

    {% if settings.blog_enable and settings.home_blog_preview_enable %}
      <div class="col-12">
        <div class="row">
          {% for article in blogs.news.articles limit: 3 %}
            {% include 'article-grid-item' article: article %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
  
</div>