<div class="container-fluid pt-5">

  {{ content_for_index }}

  <div class="row">

    <div class="rivets" rv-html="'<h1>works</h1>'"></div>

    <div class="rivets" rv-append-html="'<h2>apppend works</h2>'"><h1>append to me</h1></div>

    <h3>{system.shopSettings.email}</h3>

    {% if settings.blog_enable and settings.home_blog_preview_enable %}
      <div class="col-12">
        <div class="row">
          {% for article in blogs.news.articles limit: 3 %}
            {% include 'article-grid-item' article: article %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
  
</div>