<div class="container">

  <div class="row">

    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
      {% assign page = pages[settings.homepage_page] %}
      <div class="hidden col-xs-12">
        <h1 class="text-center text-sans-serif">{{ page.title }}</h1>
      </div>
      <div class="hidden col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <div class="rte text-center">
          {{ page.content }}
        </div>
      </div>
    {% endunless %}

    {% include 'featured-collections',
      featuredLinklist: 'featured-collections',
      replaceImage1: settings.homepage_featured_collection_1_custom_image,
      replaceImage1With: 'homepage_featured_collection_1_custom_image.jpeg',
      replaceImage2: settings.homepage_featured_collection_2_custom_image,
      replaceImage2With: 'homepage_featured_collection_2_custom_image.jpeg',
      withOffset: true,
      classWrapperDefault: 'm-t-3 m-b-1',
      classWrapperSize2: 'm-t-3 m-b-1 m-x-1-md m-x-2-lg',
      showHr: true
    %}
    
    {% include 'featured-products',
      collectionHandle: 'featured-products',
      classWrapper: 'm-y-1',
      textAlign: settings.homepage_featured_products_text_align
      titleClass: 'text-sans-serif text-normal'
    %}

    {% if settings.blog_enable and settings.home_blog_preview_enable %}
      <div class="col-xs-12" id="featured-articles">
        <div class="row">
          {% for article in blogs.news.articles limit: 3 %}
            {% include 'article-grid-item' article: article %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    
  </div>
  
</div>