<div class="container pt-5">

  {% paginate collections by settings.collections_per_page %}
    <div class="row">
      {% for collection in collections %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-xl-4">
          {% include 'jumplink-collection-grid-item' %}
        </div>
      {% endfor %}
    </div>
    {% include 'jumplink-pagination', show_all_active: false %}
  {% endpaginate %}

  <div class="row">

    {% include 'jumplink-register-box' %}

    {% include 'jumplink-instagram-box' %}
  </div>
  
</div>