<div class="ah-container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1 class="">{{ page.title }}</h1>
      </div>
      <div class="col-xs-12 rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>