<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5">
    {% unless page.content == blank %}
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 col-xl-6 rte">
        {{ page.content }}
      </div>
    {% endunless %}

    <div class="col-12 col-md-8 offset-md-2 col-lg-8 col-xl-6">
      <h2>Cookies we use</h2>
      <p>
        To power up our online store we place the following cookies
      </p>
      <h3>Cookies Necessary for the Functioning of the Store</h3>
      <table class="table table-borderless">
        <tbody>
        </tbody><thead>
        <tr><th>Cookie Name</th>
        <th>Description</th>
        </tr></thead>
        <tbody><tr>
        <td><code><span>_ab</span></code></td>
        <td>Used in connection with access to admin.</td>
        </tr>
        <tr>
        <td><code><span>_orig_referrer</span></code></td>
        <td>Used in connection with shopping cart.</td>
        </tr>
        <tr>
        <td><code><span>_secure_session_id</span></code></td>
        <td>Used in connection with navigation through a storefront.</td>
        </tr>
        <tr>
        <td><code><span>Cart</span></code></td>
        <td>Used in connection with shopping cart.</td>
        </tr>
        <tr>
        <td><code><span>cart_sig</span></code></td>
        <td>Used in connection with checkout.</td>
        </tr>
        <tr>
        <td><code><span>cart_ts</span></code></td>
        <td>Used in connection with checkout.</td>
        </tr>
        <tr>
        <td><code><span>checkout_token</span></code></td>
        <td>Used in connection with checkout.</td>
        </tr>
        <tr>
        <td><code><span>Secret</span></code></td>
        <td>Used in connection with checkout.</td>
        </tr>
        <tr>
        <td><code><span>Secure_customer_sig</span></code></td>
        <td>Used in connection with customer login.</td>
        </tr>
        <tr>
        <td><code><span>storefront_digest</span></code></td>
        <td>Used in connection with customer login.</td>
        </tr>
        </tbody>
      </table>

      <h3>Reporting and Analytics by Shopify</h3>
      <table class="table table-borderless">
        <tbody></tbody>
        <thead>
          <tr><th>Cookie Name</th>
          <th>Description</th>
          </tr>
        </thead>
        <tbody><tr>
        <td><code><span>_landing_page</span></code></td>
        <td>Track landing pages.</td>
        </tr>
        <tr>
        <td><code><span>_orig_referrer</span></code></td>
        <td>Track landing pages.</td>
        </tr>
        <tr>
        <td><code><span>_s</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_fs</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_s</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_sa_p</span></code></td>
        <td>Shopify analytics relating to marketing &amp; referrals.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_sa_t</span></code></td>
        <td>Shopify analytics relating to marketing &amp; referrals.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_uniq</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_visit</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_shopify_y</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>_y</span></code></td>
        <td>Shopify analytics.</td>
        </tr>
        <tr>
        <td><code><span>tracked_start_checkout</span></code></td>
        <td>Shopify analytics relating to checkout.</td>
        </tr>
        </tbody>
      </table>

      <h3>Google Analytics</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Cookie Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code><span>_ga</span></code></td>
            <td>Used to distinguish users.</td>
          </tr>
          <tr>
            <td><code><span>_gid</span></code></td>
            <td>Used to distinguish users.</td>
          </tr>
          <tr>
            <td><code><span>_gat</span></code></td>
            <td>Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this
              cookie will be named <code><span>_dc_gtm_&lt;property-id&gt;</span></code>.</td>
          </tr>
          <tr>
            <td><code><span>AMP_TOKEN</span></code></td>
            <td>Contains a token that can be used to retrieve a Client ID from AMP Client ID service. Other
              possible values indicate opt-out, inflight request or an error retrieving a Client ID from AMP
              Client ID service.</td>
          </tr>
          <tr>
            <td><code><span>_gac_&lt;property-id&gt;</span></code></td>
            <td>Contains campaign related information for the user. If you have
              linked your Google Analytics and Google Ads accounts, Google Ads
              website conversion tags will read this cookie unless you opt-out.
              <a href="//support.google.com/google-ads/answer/7521212">Learn more</a>.
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Privacy Settings</h3>
      <p>
        To save your privacy settings we use the following cookies
      </p>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Cookie Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code><span>cookieconsent_accepted</span></code></td>
            <td>If you agree with our cookie notice this will be saved so we do not to show you the notice again.</td>
          </tr>
          <tr>
            <td><code><span>ga-disable-UA-126476233-1</span></code></td>
            <td>Used to save the setting that you do not want tracking with Google Analytics.</td>
          </tr>
          <tr>
            <td><code><span>ttd-disable-1fqgs22</span></code></td>
            <td>Used to save the setting that you do not want tracking with The Trade Desk.</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>