{% comment %} Translate page title if translation is available {% endcomment %}
{% assign pageTitleTransString = page.title | handleize | prepend: 'titles.' %}
{% assign pageTitle = pageTitleTransString | t %}
{% if pageTitle contains  'translation missing' %}
  {% assign pageTitle = page.title %}
{% endif %}


<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5">
    {% unless pageTitle == blank %}
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 scrollbar-x-auto rte">
          <h2 rv-i18n-html="'{{pageTitleTransString}}'">{{ pageTitle }}</h2>
        </div>
    {% endunless %}
    {% unless page.content == blank %}
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte">
          {{ page.content }}
        </div>
    {% endunless %}
    <div class="col-12 col-md-8 offset-md-2 col-lg-6">
      {% include 'jumplink-form-returns' %}
    </div>
  </div>
</div>