<div class="container-fluid">
  {% section 'jumplink-text-row-shopify' %}
  {% section 'jumplink-accordion-shopify' %}
  {% section 'jumplink-text-row-shopify-2' %}
</div>{% comment %} .container-fluid {% endcomment %}