<div class="container">
    <div class="row py-1">
        <div class="col-xs-12">
            <h1 class="text-center hidden">{{ page.title }}</h1>
        </div>
        <div class="col-xs-12 rte">
            {{ page.content }}
            
            <p>
                <br />   
                Credits
                <br />
                <a href="feinfineart.de">Design by feinfineart</a>
                <br />
                <a href="https://www.jumplink.eu/">Design & Development by JumpLink</a>
            </P>
        </div>
    </div>
</div>