<div class="container">
    <h1 class="text-center hidden">{{ page.title }}</h1>
    {% if page.content %}
        <div class="rte p-x-1">
            {{ page.content }}
        </div>
    {% endif %}
    <div id="foursixty-wrapper">
        <script id="foursixty" src="" data-money-format="<%= amount %>€" data-feed-id="todo"></script>
    </div>
</div>
