{% include 'jumplink-utils-translate', translate: page.title, path: 'titles', de: page.metafields["global"]["de-title"], default: page.title %}

<div class="container-fluid pt-5">
  <div class="row pt-md-5 scrollbar-x-auto">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6">
      <h1 class="page-title mt-0 mb-4">
        {{ translated }}
      </h1>
    </div>

    <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte" rv-i18n-html="">
      {{page.content}}
      <template lang="default">{{page.content}}</template>
      <template lang="de">{{page.metafields["global"]["de-content"]}}</template>
    </div>
  </div>
</div>

<div class="container-fluid" id="contact">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6">
      {% include 'jumplink-contact-form' %}
    </div>
  </div>
</div>