<div class="container-fluid pt-5" id="page-{{ page.handle }}">
  <div class="row pt-md-5 scrollbar-x-auto">
    <div class="col-12">
      {% section 'newsletter' %}
    </div>
    {% unless page.content == blank %}
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 rte" rv-i18n-html="">
          {{ page.content | default: page.metafields["global"]["en-content"]}}
          <template lang="default">{{ page.content | default: page.metafields["global"]["en-content"]}}</template>
          <template lang="de">{{ page.metafields["global"]["de-content"] | default: page.content }}</template>
        </div>
    {% endunless %}
  </div>
</div>