<div class="container pt-5">
  <div class="row">
  
    {% comment %}
    <div class="col-xs-12 text-center">
      <h1 class="page-title mt-0 mb-4">{{ page.title }}</h1>
    </div>
    {% endcomment %}

    {% unless page.content == blank %}
        <div class="col-xs-12 col-md-8 offset-md-2 rte">
        {{ page.content }}
        </div>
    {% endunless %}

  </div>
</div>