// hide element with binding until it is loaded
[rv-autoscroll] {
  display: none;
}

.rv-autoscroll-horizontal {
  overflow-x: hidden;
  max-width: 100%;

  @extend .d-flex;
  @extend .flex-nowrap;
  white-space: nowrap;

  nav-items {
    padding-top: 0 !important;
    .nav {
      @extend .d-flex;
      @extend .flex-nowrap;
      white-space: nowrap;
    }
  }
}