<div class="container-fluid pt-5" id="addresses">
  <div class="row pt-md-5">
    <div class="col-12 col-md-10 offset-md-2">
      
      {% if customer %}
        <div class="row my-5" id="orders">
          <div class="col-12">
            {% include 'jumplink-customer-address', address: customer.default_address %}
          </div>
        </div>
        <div class="row my-5" id="orders">
          <div class="col-12">
            {% include 'jumplink-customer-orders' %}
          </div>
        </div>
      {% else %}
        {% include 'jumplink-login' %}
      {% endif %}
    </div>
  </div>
</div>