<div class="container-fluid pt-5" id="addresses">
  <div class="row pt-md-5">
    <div class="col-12 col-md-10 offset-md-2">
      <div class="row">
        <div class="col-12">
          {% include 'jumplink-customer-order-list-item' with order %}
        </div>
      </div>
    </div>
  </div>
</div>