$font-gt-walsheim-eot-path: "./font-GT-Walsheim-Light.eot" !default;
$font-gt-walsheim-woff-path: "./font-GT-Walsheim-Light.woff" !default;
$font-gt-walsheim-ttf-path: "./font-GT-Walsheim-Light.ttf" !default;
$font-gt-walsheim-otf-path: "./font-GT-Walsheim-Light.otf" !default;

$font-gt-walsheim-bold-eot-path: "./font-GT-Walsheim-Bold.eot" !default;
$font-gt-walsheim-bold-woff-path: "./font-GT-Walsheim-Bold.woff" !default;
$font-gt-walsheim-bold-ttf-path: "./font-GT-Walsheim-Bold.ttf" !default;
$font-gt-walsheim-bold-otf-path: "./font-GT-Walsheim-Bold.otf" !default;
