fsbdr-shopify-cart-button {
  .closed {
    position: relative;
  }

  .active {
    .closed {
      display: none;
    }
    .open {
      display: block;
    }
  }

  :not(.active) {
    .closed {
      display: block;
    }
    .open {
      display: none;
    }
  }

  .cart-item-count {
    min-width: 20px;
    position: absolute;
    top: 0;
    right: -15px;
    opacity: 1;
    transition: opacity 2s linear;
  }

  :focus {
    .cart-item-count {
      color: $primary;
    }
  }

  .pending {
    .cart-item-count {
      @include pulse(0.3, 2s, 1s);
      opacity: 0.4;
    }
  }

  .added-start {
    .cart-item-count {
      @include bounce(-15px, 1500ms, 0, 1);
    }
  }

}