rv-shopify-product {
  display: block;

  .btn-quantity {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
  }

  .input-quantity {
    width: 28px !important;
  }

  .option-variant-color, .option-metafield-color {
    z-index: 1;
    &:hover {
      transform: scale(1.2);
    }
  }
}
