/*
 * ASPECT RATIO for images and background images
 *
 * @see https://jumplink.eu/blog/post/onlineshop-immer-einheitlich-grosse-produktbilder
 * @see http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 * @info See link and description
 * @info See snippets/product-grid-item and for example usage
 */

// ASPECT RATIO size for background images
.background-box {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;

  // default fit is cover
  background-size: cover;
  
  // default aspect ratio is 1:1
  padding-top: 100%; 

  &.fit-cover {
    background-size: cover !important;
  }
  &.fit-contain {
    background-size: contain !important;
  }

  &.position-center-center {
    background-position: center center;
  }
  &.position-center-bottom {
    background-position: center bottom;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint) {

      &.ratio#{$infix}-1-1 {
        padding-top: 100%; // Default 1-1 ASPECT RATIO
      }
      &.ratio#{$infix}-3-2 {
        padding-top: 66.67%;
      }
      &.ratio#{$infix}-2-3 {
        padding-top: 150%;
      }
      &.ratio#{$infix}-2-1 {
        padding-top: 50%;
      }
      &.ratio#{$infix}-1-2 {
        padding-top: 200%;
      }
      &.ratio#{$infix}-4-3 {
        padding-top: 75%;
      }
      &.ratio#{$infix}-3-4 {
        padding-top: 133.33%;
      }
      &.ratio#{$infix}-16-9 {
        padding-top: 56.25%;
      }
      &.ratio#{$infix}-9-16 {
        padding-top: 177.78%;
      }
      &.ratio#{$infix}-10-3 {
        padding-top: 333%;
      }
      &.ratio#{$infix}-3-10 {
        padding-top: 30%;
      }
      &.ratio#{$infix}-17-10 {
        padding-top: 59%;
      }
      &.ratio#{$infix}-10-17 {
        padding-top: 170%;
      }
      &.ratio#{$infix}-14-9 {
        padding-top: 64%;
      }
      &.ratio#{$infix}-9-14 {
        padding-top: 155.56%;
      }
    }
  }
}


// ASPECT RATIO size for contens and images
.content-box {
  display: block;
  position: relative;
  width: 100%;   /* desired width */
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
  }
  // And here is the trick
  .content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    // default fit is cover
    object-fit: cover;

    // default aspect ratio 1:1
    &:before {
      padding-top: 100%;
    }
  }

  // Fix for vimeo videos in safari
  iframe.content {
    object-fit: initial !important;
  }

  &.fit-cover {
    .content {
      object-fit: cover !important;
    }
  }
  &.fit-contain {
    .content {
      object-fit: contain !important;
    }
  }

  &.fit-initial {
    .content {
      object-fit: initial !important;
    }
  }
  
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint) {
      &.ratio#{$infix}-1-1:before {
        padding-top: 100%;
      }
      &.ratio#{$infix}-3-2:before {
        padding-top: 66.67%;
      }
      &.ratio#{$infix}-2-3:before {
        padding-top: 150%;
      }
      &.ratio#{$infix}-2-1:before {
        padding-top: 50%;
      }
      &.ratio#{$infix}-1-2:before {
        padding-top: 200%;
      }
      &.ratio#{$infix}-4-3:before {
        padding-top: 75%;
      }
      &.ratio#{$infix}-3-4:before {
        padding-top: 133.33%;
      }
      &.ratio#{$infix}-16-9:before {
        padding-top: 56.25%;
      }
      &.ratio#{$infix}-9-16:before {
        padding-top: 177.78%;
      }
      &.ratio#{$infix}-10-3:before {
        padding-top: 333%;
      }
      &.ratio#{$infix}-3-10:before {
        padding-top: 30%;
      }
      &.ratio#{$infix}-17-10:before {
        padding-top: 59%;
      }
      &.ratio#{$infix}-10-17:before {
        padding-top: 170%;
      }
      &.ratio#{$infix}-14-9:before {
        padding-top: 64%;
      }
      &.ratio#{$infix}-9-14:before {
        padding-top: 155.56%;
      }
    }
  }
}