{% for block in section.blocks %}
  {% unless pages[block.settings.handle].empty? %}
    {% assign page = pages[block.settings.handle] %}
    {% if block.settings.show_title %}
      <div class="col-xs-12">
        <h{{block.settings.title_level}} class="{{block.settings.title_text_alignment}}">{{ page.title }}</h1>
      </div>
    {% endif %}
    <div class="col-xs-12">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  {% endunless %}
{% endfor %}

{% schema %}
  {
    "name": "Pages",
    "class": "jumplink-pages",
    "max_blocks": 10,
    "settings": [
      {
        "type": "paragraph",
        "content": "Append the title and content of a page"
      }
    ],
    "blocks": [
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "text",
            "id": "handle",
            "label": "Page handle",
            "default": "frontpage"
          },
          {
            "type": "checkbox",
            "id": "show_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "range",
            "id": "title_level",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Header level",
            "default": 1
          },
          {
            "type": "select",
            "id": "title_text_alignment",
            "label": "Title alignment",
            "options": [
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ],
            "default": "text-center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Pages",
        "category": "Content",
        "blocks": [

        ]
      }
    ]
  }
{% endschema %}