{% if section.settings.enable %}
    <style>
    /*!--------------------------------------------------------------------
    STYLES "Outdated Browser"
    Version:    1.1.2 - 2015
    author:     Burocratik
    website:    http://www.burocratik.com
    * @preserve
    -----------------------------------------------------------------------*/
    #outdated {
        display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;
        text-align: center; text-transform: uppercase; z-index:1500;
        background-color: #fff; background-color: rgba(0,0,0,0.8); color: #000;
    }
    * html #outdated {position: absolute;}
    #outdated h6 {font-size: 25px; line-height: 25px; margin: 30px 0 10px;}
    #outdated p {font-size: 12px; margin: 0;}
    #outdated #btnUpdateBrowser{
        display: block; position: relative; padding: 10px 20px; margin: 30px auto 0; width: 230px; /*need for IE*/
        color: #000; text-decoration: none; border: 2px solid #000; cursor: pointer;
    }
    #outdated .last{position: absolute; top: 10px; right: 25px; width: 20px; height: 20px;}
    #outdated .last[dir='rtl']{right: auto !important; left: 25px !important;}
    #outdated #btnCloseUpdateBrowser {
        display: block; position: relative; width: 100%; height: 100%;
        text-decoration: none; color: #ffffff; font-size: 36px; line-height: 36px;
    }
    #outdated .outdated-modal {
        background-color: #ffffff;
        max-width: 510px;
        margin: auto;
        padding: 50px;
        margin-top: 30vh;
    }

    html.browser-ie .d-browser-ie-block {
        display: block !important;
    }
    html.browser-ie .d-browser-ie-none {
        display: none !important;
    }
    </style>

    <script>
    var outdatedBrowserLoaded = false;
    var outdatedBrowser = function(options) {
        
        if (outdatedBrowserLoaded) {
            return;
        }
        
        outdatedBrowserLoaded = true;
    
        // Default options
        if (!options || !options.lowerThan) {
            options.lowerThan = 'transform';
        }
        cssProps = options.lowerThan;
    
        // Variable definition (before ajax)
        var outdated = document.getElementById("outdated");
    
        // Define opacity and fadeIn / fadeOut functions
        var done = true;
    
        function function_opacity(opacity_value) {
            outdated.style.opacity = opacity_value / 100;
            outdated.style.filter = 'alpha(opacity=' + opacity_value + ')';
        }
    
        function function_fade_in(opacity_value) {
            function_opacity(opacity_value);
            if (opacity_value == 1) {
                outdated.style.display = 'block';
            }
            if (opacity_value == 100) {
                done = true;
            }
        }
    
        var supports = ( function() {
            var div = document.createElement('div');
            var vendors = 'Khtml Ms O Moz Webkit'.split(' ');
            var len = vendors.length;
    
            return function(prop) {
                if (prop in div.style) return true;
    
                prop = prop.replace(/^[a-z]/, function(val) {
                    return val.toUpperCase();
                });
    
                while (len--) {
                    if (vendors[len] + prop in div.style) {
                        return true;
                    }
                }
                return false;
            };
        } )();
    
        var validBrowser = true;
    
        // check by css3 property (transform=default)
        for (var index = 0; index < cssProps.length && validBrowser; index++) {
            var cssProp = cssProps[index];
            validBrowser = supports('' + cssProp + '');
        }
    
        if (!validBrowser) {
            if (done && outdated.style.opacity !== '1') {
                done = false;
                for (var i = 1; i <= 100; i++) {
                    setTimeout((function (x) {
                        return function () {
                            function_fade_in(x);
                        };
                    })(i), i * 8);
                }
            }
        } else {
            return;
        }
    };
    
    // Plain Javascript
    // event listener: DOM ready
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }

        var oldonerror = window.onerror;
        if (typeof window.onerror != 'function') {
            window.onerror = func;
        } else {
            window.onerror = function() {
                if (oldonerror) {
                    oldonerror();
                }
                func();
            }
        }
    }
    
    /**
     * Test if the current borwser is IE
     */
    function isIE() {
        return (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)));
    }
    
    function addBrowserClassToHtml() {
        if(isIE()) {
            var htmlElement = document.getElementsByTagName( 'html' )[0];
            htmlElement.setAttribute( 'class', 'browser-ie' );
        }
    }
    
    //c all plugin function after DOM ready
    addLoadEvent(function(){
        addBrowserClassToHtml();
        outdatedBrowser({
            lowerThan: ['objectFit', 'flexDirection']
        });
    });

    </script>

    <div id="outdated">
        <div class="outdated-modal">
            <div class="d-none d-lang-en-block">
                <h6 class="pb-3">Your browser is out of date!</h6>
                <p class="d-browser-ie-none">Update your browser to view this webapp correctly.</p>
                <p class="d-none d-browser-ie-block">
                    You are using Microsoft Internet Explorer, which is no longer being developed by Microsoft.
                    Upgrade to Microsoft Edge or another modern browser to view this webapp correctly.
                </p>
                <p class="pt-4">
                    <a class="btnUpdateBrowser btn btn-animated-underline-dark font-weight-bold" href="https://outdatedbrowser.com/en">Update my browser now </a>
                </p>
            </div>
            <div class="d-none d-lang-de-block">
                <h6 class="pb-3">Ihr Browser ist veraltet!</h6>
                <p class="d-browser-ie-none">
                    Bitte aktualisieren Sie Ihren Browser, um diese Webanwendung korrekt darzustellen.
                </p>
                <p class="d-none d-browser-ie-block">
                    Sie verwenden den Microsoft Internet Explorer, dieser wird von Microsoft nicht mehr weiterentwickelt.
                    Bitte aktualisieren Sie auf Microsoft Edge oder einen anderen zeitgemäßen Browser, um diese Webanwendung korrekt darzustellen.
                </p>
                <p class="pt-4">
                    <a class="btnUpdateBrowser btn btn-animated-underline-dark font-weight-bold" href="https://outdatedbrowser.com/de">Jetzt aktualisieren </a>
                </p>
            </div>
        </div>
    </div>
{% endif %}
{% schema %}
  {
    "name": "Outdated Browser Detect",
    "class": "outdated-browser",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "enable",
        "label":     "Enable browser detection",
        "default":   true
      }
    ],
    "blocks": [],
    "presets": [],
    "locales": {

    }
  }
{% endschema %}
