<div class="container">
  <h1>{{ section.settings.color }}</h1>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type":      "color",
        "id":        "color",
        "label":     "Color",
        "default":   "#ffffff"
      }
    ]
  }
{% endschema %}