<div class="hidden-xs hidden-sm">

  {% include 'jumplink-filter-subcollections' %}

  {% comment %}
    Filter by Shopify Power Tools
  {% endcomment %}
  {% include 'filter-menu' %}
</div>

<div class="hidden-md hidden-lg">
  {% include 'filter-menu-select' %}
</div>