{% assign product = all_products[article.metafields["global"]["product-handle"]] %}
{% assign articleImageSize = "1200x1600" %}
{% capture articleTitleStyle %}
  {% if color %}
    background-color:{{ color | color_modify: 'alpha', 0.5 }};
  {% endif %}
{% endcapture %}

<div data-tags='{% include 'jumplink-utils-json-tags', tags: article.tags %}' class="container-fluid position-relative jumplink-article-list-item jumplink-article-list-item-view-2-grid-story-product">
  <div class="row">
    {% include 'jumplink-article-item-col-ratio-3-4' with article, color, articleTitleStyle, articleImageSize: articleImageSize  %}
    {% include 'jumplink-product-item-col-ratio-3-4' with product, orderClass: productOrderClass  %}
  </div>
</div>