<nav class="navbar navbar-default navbar-breadcrumbs no-border row m-y-0">

    <div class="hidden-xs col-sm-8">
      {% include 'breadcrumbs' %}
    </div>

    <div class="col-xs-12 col-sm-4">
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <div class="product-slide-buttons">    

            {% if collection.previous_product %}
              <a class="slick-prev" href="{{collection.previous_product}}">PREV</a>
            {% else %}
              <div class="slick-prev slick-disabled">PREV</div>
            {% endif %}

            {% if collection.next_product %}
              {% comment %}<button class="slick-next">{{ 'Next Product &rarr;' | link_to: next_url }}</button>{% endcomment %}
              <a class="slick-next" href="{{collection.next_product}}">NEXT</a>
            {% else %}
              <div class="slick-next slick-disabled">NEXT</div>
            {% endif %}

          </div>
        {% endif %}
      {% endif %}
    </div>

</nav>