<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">
            {{ 'customer.login.logged_in' | t: name: customer.first_name }}
            <br>
            <small> {{ 'customer.login.logged_in_subtext' | t }}</small>
            
        </h2>
        <div class="text-center my-3">
            <a href="/account" class="btn btn-secondary">{{ 'navbar.shop_actions.my_account' | t }}</a>
            <a href="/account/logout" class="btn btn-secondary no-barba">{{ 'navbar.shop_actions.logout' | t }}</a>
            <a href="/" class="btn btn-primary">Continue watching</a>
        </div>
    </div>
</div>