<div class="container-fluid pt-5">
  <div class="row pt-5">
    <div class="col col-md-8 col-lg-6 mx-auto">
      <p>The new FASSBENDER store will be open in a few weeks.<br />Stay tuned!</p>
      <p><a rv-route="'/collections/all'" href="/collections/all">Back to products</a></p>
    </div>
  </div>
</div>