<div class="container-fluid pt-5">
  <div class="row pt-5">
    <div class="col-12 offset-md-2 col-md-8">
      <rv-shopify-login-form>
        <div class="row">

          {% comment %}
            recover_customer_password
            This form is used to recover the passwort and is hidden because
            instead of have an seperate form in the frontend for this
            we use the login form to get the email.
          {% endcomment %}
          <div class="col-6 order-2" hidden>
            {% form 'recover_customer_password' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Password recovery was successfully sent' %}
              {% endif %}

              <p class="mb-0">
                <strong>
                  Recover my password.
                </strong>
              </p>

              <p>
                All we need is your email address.
              </p>

              {% include 'jumplink-form-inputs-customer-recover' %}

              <button class="btn btn-link w-100 p-0 text-left mb-3" rv-on-click="recoverBack">
                <small>
                  Back
                </small>
              </button>

              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="recover"
              >
                Recover
              </button>

            {% endform %}
          </div>

          {% comment %} customer_login {% endcomment %}
          <div class="col-6 order-2">
            {% form 'customer_login' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Logged in successfully' %}
              {% endif %}

              <p class="mb-0">
                <strong>
                  I'm already a customer.
                </strong>
              </p>

              <p>
                Log in with your Login-Data.
              </p>

              {% include 'jumplink-form-inputs-customer-login' %}

              <button class="btn btn-link w-100 p-0 text-left mb-3" rv-on-click="recover">
                <small>
                  Forget your password?
                </small>
              </button>


              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="login"
              >
                Login
              </button>

            {% endform %}
          </div>

          {% comment %} create_customer {% endcomment %}
          <div class="col-6 order-3">
            {% form 'create_customer' %}

              {% comment %} Error and Successfull messages {% endcomment %}
              {% if form.errors %}
                {% assign formErrors = form.errors %}
              {% endif %}
              {% if form.posted_successfully? %}
                {% assign formSuccessfully = 'Account successfully created' %}
              {% endif %}

              <p class="mb-0">
                <strong>
                  I'm new here.
                </strong>
              </p>

              {% include 'jumplink-form-inputs-customer-create' %}

              <button type="submit" class="btn btn-animated-underline-dark font-weight-bold"
                rv-on-click="create"
              >
                Register
              </button>

            {% endform %}
          </div>

          <div class="col-12 order-1">
            {% if formErrors %}
              <div class="alert alert-danger" role="alert">
                {{ formErrors | default_errors }}
              </div>
            {% endif %}

            {% if formSuccessfully %}
              <div class="alert alert-success" role="alert">
                {{ formSuccessfully }}
              </div>
            {% endif %}
          </div>

        </div>



      </rv-shopify-login-form>
    </div>
  </div>
</div>
