<ul class="nav" rv-add-class="linklist.handle">
  <li class="nav-item" rv-each-link="linklist.links">
    <a class="nav-link" rv-class-active="link.active" rv-href="link.href" rv-title="link.title">{link.text}</a>
  </li>
</ul>