<div class="col-xs-12">
    <div class="alert alert-warning" role="alert" id="ResetSuccess" style="display:none;">

    {% comment %}
        If a user has successfully requested a new password, the form.posted_successfully? variable
        is set to true within the 'recover_customer_password' form only. Within that form you'll see
        the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <span >
        {{ 'customer.recover_password.success' | t }}
    </span>
    
    </div>
</div>

<div class="col-xs-12">
    <div class="alert alert-warning text-center" role="alert" id="formErrorMessages" style="display:none;">

    </div>
</div>

{% if settings.show_login_message %}
    <div class="col-xs-12">
        <div class="alert alert-warning" role="alert" id="NewShopMessage">
            <strong>{{ settings.login_message_title }}</strong><br>
            {{ settings.login_message }}
        </div>
    </div>
{% endif %}