{% assign estimateShippingRate = false %}
{% assign showLoginHeader = true %}
{% assign showCartPageLink = true %}

<rv-shopify-cart shipping-address='{{ customer.default_address | json }}' estimate-shipping-rate="{{ estimateShippingRate }}">
  <div rv-if="cart" class="dropdown d-block">
    <a
      class="nav-link dropdown-toggle"
      rv-class-pending="pending"
      rv-animate-added="startAddAnimation"
      data-offset="-100"
      rv-on-click="toggle"
      rv-route-class-active="'/cart'"
      href="#"
      role="button"
      id="dropdownMenuCart"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Shopping Bag <small class="ml-1 cart-item-count text-center" rv-text="cart.item_count"></small>
    </a>
    
    <div class="dropdown-menu p-3 scrollbar-primary " aria-labelledby="dropdownMenuCart">
      {% include 'jumplink-shopping-cart-body' with showLoginHeader, estimateShippingRate, showCartPageLink %}
    </div>
  </div>
</rv-shopify-cart>