<div class="container-fluid">
  <div class="row">
    <div style="height: 30px;">
      DE EN
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/" class="brand-01">
        <div class="font-weight-bold brand-text">Art</div>
        <img class="brand-image" src="{{ 'icon_heart_px.png' | asset_url }}" alt="{{ shop.name | strip_html }}">
        <div class="font-weight-bold brand-text">Code</div>
        <div class="font-weight-normal brand-text hidden-xs-down">&nbsp;Studio</div>
      </a>
    </div>
    <div class="col">
      Info
    </div>
  </div>
</div>