<div class="mt-5">
  {% if number_of_comments > 0 %}
    <div class="lead">
      <h3
        class="h1 font-weight-normal"
        rv-i18n-text="'blogs.comments.title'"
        >
        {{'blogs.comments.title'|t: title: article.title}}
        <template name="title">{{article.title}}</template>
      </h3>
    </div>

    <router-view id="comments-pagination" listen-all-links="false" dataset-to-model="false" parse-title="false" scroll-to-top="false" prefetch-links="true" action="append">
      <ul class="list-unstyled">
        {% comment %}
          Display comment from URL parameters if it is waiting moderation
          We added "comment.id" check to make sure we don't display markup if there are form errors
        {% endcomment %}
        {% if comment and comment.status != 'published' and comment.id != blank %}
          {% include 'jumplink-article-comment' with blog, article, comment, number_of_comments, new_comment %}
        {% endif %}

        {% for comment in article.comments %}
          {% include 'jumplink-article-comment' with blog, article, comment, number_of_comments, new_comment %}
        {% endfor %}
      </ul>
    </router-view>

    {% if paginate.pages > 1 %}
      {% include 'jumplink-pagination' with viewId: 'comments-pagination'%}
    {% endif %}
  {% endif %}
</div>
