<div class="container-fluid fixed-top navbar-main" style="pointer-events: none;">
  <div class="row subbar">
    <div class="col d-flex">
      <div class="ml-auto">
         
        <ul class="nav" style="pointer-events: all;">
          <li class="nav-item">
            <div class="nav-text">
              Welcome to the online home of covering trends, fashion inspiration and heigh end ready to wear pieces.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mainbar">
    <div class="col-auto d-flex align-items-center">
      <a href="/" class="brand" style="pointer-events: all;">
        <rv-iconset rv-src="'{{ 'logo.svg' | asset_url }}'" name="'logo.svg'" size="64"></rv-iconset>
      </a>
    </div>
    <div class="ml-auto col-auto d-flex align-items-center">
      <ul class="nav" style="pointer-events: all;">
        <li class="nav-item">
          <a class="nav-link" rv-slideout-toggler="right" href="#">
            <span class="text">Info</span>
            <rv-iconset rv-src="'{{ 'iconset_icon_dots.svg' | asset_url }}'"></rv-iconset>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<slideout class="slideout-dark"></slideout> 