<strong class="mb-3" rv-i18n-text="'customer.order.title'">{{'customer.order.title'|t}}</strong>
<p rv-i18n-text="'customer.order.subtitle'">{{'customer.order.subtitle'|t}}</p>

{% comment %}
If we have past orders, loop through each one
{% endcomment %}
{% paginate customer.orders by 1000 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
      {% include 'jumplink-customer-order-list-item' with order %}
    {% endfor %}
  {% else %}
    <p rv-i18n-text="'title.customer.order.no_order'">{{'title.customer.order.no_order'}}</p>
  {% endif %}
  {% if paginate.pages > 1 %}
    {% include 'jumplink-pagination' %}
  {% endif %}
{% endpaginate %}