{% assign snippet = name | prepend: 'jumplink-iconset_' %}

{% assign class = '' %}

{% if direction == 'left' %}
{% endif %}

{% if direction == 'right' %}
    {% assign class = 'flip-h' %}
{% endif %}

{% if direction == 'top' or direction == 'up'%}
    {% assign class = 'rotate-90' %}
{% endif %}

{% if direction == 'bottom' or direction == 'down' %}
    {% assign class = 'rotate-270' %}
{% endif %}

<div aria-hidden="true" class="iconset {{name}} {{direction}} {{class}} {{color}}">
    {% include snippet %}
</div>