<div class="col-xs-12 col-md-8 offset-md-2 rte text-center">
    <div class="border-a border-px-1 border-color-black py-5 my-5">
        <p class="display-3 mb-4">ONLINE SHOWROOM</p>
        <a href="/account/register" class="btn btn-primary mb-4">Register</a>
    </div>
</div>