<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
<div id="left-sidebar" class="hidden-md hidden-lg">
    <div id="sidebar-wrapper" class="sidebar-wrapper">  
        <div id="nav-tree"></div> 
    </div>
</div>