
<div class="text-left">
    <strong>Easy Shopping</strong>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-check"></i>Bestellungen detailliert verfolgen</li>
        <li><i class="fa-li fa fa-check"></i>Adressen und Zahlungsdaten speichern</li>
        <li><i class="fa-li fa fa-check"></i>Wunschliste verwalten</li>
        <li><i class="fa-li fa fa-check"></i>Als treuer Kunde, Bonuspunkte sammeln</li>
    </ul>
</div>