<div class="modal modal-fullscreen product-photo-modal" rv-id="modalID" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" data-area="slick" rv-data-target="slickSelector">
            <div class="modal-body">

                <div class="slick-slider">
                    <div rv-each-image="product.images" rv-data-index="%image%" class="wrapper1">
                        <img class="height-fullscreen mx-auto" rv-src="image" rv-alt="product.title">
                    </div>
                </div>

                <div class="arrow-left" data-slick-method="slickPrev" rv-data-target="slickSelector">
                    {% include 'jumplink-iconset', name: 'arrow-big', direction: 'left', color: 'white' %}
                </div>

                <div class="arrow-right" data-slick-method="slickNext" rv-data-target="slickSelector">
                    {% include 'jumplink-iconset', name: 'arrow-big', direction: 'right', color: 'white' %}
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    {% include 'jumplink-iconset', name: 'x', color: 'white' %}
                </button>
                
            </div>
        </div>
    </div>
</div>