rv-shopify-product-item {
  display: block;
  img.content {
    transition: padding 300ms ease;
    padding-bottom: 60px;
    &.show-detail-menu {
      padding-bottom: 214px;
      background-image: none;
    }
  }

  .detailMenu {
    transition: opacity 300ms ease;
    opacity: 0;
    pointer-events: none;
    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }

  .btn-quantity {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
  }

  .input-quantity {
    width: 28px !important;
  }
}