rv-shopify-product-item {
  display: block;

  .detailMenu, .colorMenu, .chooseSizeMenu, .img.content {
    transition: all 300ms ease;
  }

  // Dont show lazy loader in background of detail-menu 
  img.content {
    &.show-detail-menu {
      background-image: none;
    }
  }

  .chooseSizeMenu {
    // background-color: transparent;
    // Remove this to activate bg hover effekt
    background-color: white;
  }

  .detailMenu {
    opacity: 0;
    pointer-events: none;
    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }



  &:hover {
    .chooseSizeMenu {
      background-color: white;
    }
    .detailMenu, .colorMenu {
      &.show {
        background-color: white;
      }
    }
  }

  .btn-quantity {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
  }

  .input-quantity {
    width: 28px !important;
  }
}