slideout {
  &.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100vw;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  &.slideout-menu-right {
    right: 0;
  }

  &.slideout-menu-left {
    left: 0;
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &.slideout-light {
    background-color: $light;
    color: $dark;
    .nav-link {
      color: $dark;
    }
  }

  &.slideout-dark {
    background-color: $dark;
    color: $light;
    .nav-link {
      color: $light;
    }
  }

  nav-items {
    padding-top: 130px;
  }
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $body-bg;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}