<h1 class="lead">schreib uns</h1>
<p>
  Hey @ Art+Code Studio,<br />
  ich bin <span class="text-danger" contenteditable="true" rv-value="name | default 'Name'"></span> und möchte <span class="text-danger" contenteditable="true" rv-value="message | default 'Nachricht'"></span>.<br />
  <br>
  Meldet euch, <span class="text-danger" contenteditable="true" rv-value="regards | default 'hasta la vista'"></span><br />
  <span rv-html="name"></span><br>
  <br>
  P.S.<br>
  Schreibt mir an <span class="text-danger" contenteditable="true" rv-value="mail | default 'E-Mail'"></span> oder ruft mich unter <span class="text-danger" contenteditable="true" rv-value="phone | default 'Telefon'"></span> an.
</p>

<a class="text-light" href="#" rv-on-click="send">Absenden</a>