// TODO move to templates
#customers-account, #customers-order {
  .order-header,
  .order-footer,
  .media {
    letter-spacing: 0.05rem;
    font-size: 0.8em;
  }

  .media {
    img {
      max-width: 100px;
    }
  }
}

rv-shopify-cart {
  user-select: none;
  .shopping-cart-dropdown-footer,
  .shopping-cart-dropdown-header,
  .media {
    letter-spacing: 0.05rem;
    font-size: 0.8em;
  }
  .media {
    .img-wrapper {
      max-width: 100px;
      position: relative;
      bs4-icon {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .btn-quantity {
    font-size: 1rem;
    cursor: pointer;
  }

  .cart-item-count {
    margin-top: -20px;
    min-width: 20px;
    opacity: 1;
    transition: opacity 2s linear;
  }

  .pending {
    .cart-item-count {
      @include pulse(0.3, 2s, 1s);
      opacity: 0.4;
    }
  }

  .added-start {
    .cart-item-count {
      @include bounce(-15px, 1500ms, 0, 1);
    }
  }

  .dropdown-menu {
    width: 290px;
    max-height: 80vh;
    overflow-y: auto;
  }
}