.brand-dark, .brand-light, .brand-mix {
  text-decoration: none;
  color: $black;
  .brand-text {
    @extend .text-uppercase;
    @extend .text-nowrap;
    font-size: 20px;
    letter-spacing: 0.1em;
    display: inline-block;
  }
  .font-weight-thin {
    font-weight: 400;
  }
  img {
    display: inline-block;
    @extend .pixelated;
    height: 16px;
    margin-bottom: 4px;
    margin-right: 3px;
    margin-left: 1px;
  }
  &:hover {
    text-decoration: none;
  }
}

.brand-light {
  .brand-text {
    color: $light;
  }
  img {
    filter: invert(100%);
  }
}

.brand-mix {
  .brand-text {
    color: $light;
  }
  img {
    filter: invert(0);
  }

  &:hover {
    .brand-text {
      color: $dark;
    }
    img {
      filter: invert(100%);
    }
  }
}