.btn {
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
        box-shadow: none !important;
    }
}

.btn-primary {
    &:focus {
        color: $white;
    }
}



.group-quantity-actions {

    input.form-control {
        border-left: none;
        border-right: none;
        height: 32px;
        text-align: center;
    }

    .input-group-btn {
        height: 32px;
        .btn {
            padding-left: 5px;
            padding-right: 5px;
            &:focus {
                border-color: $input-border-focus;
            }
        }
        &:first-child .btn {
            border-right: none;
        }
        &:last-child .btn {
            border-left: none;
        }
    }
}

// .bg-black {
//     .btn-outline-secondary {
//         &:hover {
//             background-color: $btn-secondary-bg;
//             color: $black;
//         }
//     }
// }