/**
 * Button Links
 */
.btn {
  &.btn-link {
    // @extend a;
    &.active {
      font-weight: $font-weight-bold;
      border-bottom-color: $link-color;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    text-decoration: $link-decoration;
    &:hover {
      text-decoration: $link-hover-decoration;
    }
  }
}

a {
  &.active {
    color: $link-active-color;
  }
}


.mini-toggler {
  span {
    font-size: $font-size-lg;
    width: 10px;
    @extend .rotate-animate;
    @extend .rotate-0;
    display: block;
  }
  &[aria-expanded='true'] {
    span {
      @extend .rotate-45;
    }
  }
}
