[data-namespace="customers-register"], [data-namespace="customers-login"] {
    .form-group, h1 {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .submit-login, .submit-register {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        border-color: $black;
        max-width: 240px;
    }
}