.dropdown, .dropup, .dropleft, .dropright {
  &.dropdown-invert {
    .dropdown-menu {
      background-color: $black;
      color: $light;
      border-color: $light;
      a {
        color: $dropdown-link-color;
      }
    }
  }
  &.show {
    .dropdown-toggle {
      color: $dropdown-link-active-color;
    }
  }
}

.dropdown-menu {
  backdrop-filter: blur(10px);
  &.scrollbar-primary, .scrollbar-primary {
    @include scrollbars(.5em, theme-color(primary), $dropdown-bg);
  }
}
