/**
 * Remove Autocomplete styles in Chrome
 */
@mixin autofill($color, $bg-color) {
  &:-webkit-autofill {
    -webkit-text-fill-color: $color;
    box-shadow: 0 0 0px 1000px $bg-color inset;
    transition: none;
    &:hover, 
    &:focus {
      -webkit-text-fill-color: $color;
      box-shadow: 0 0 0px 1000px $bg-color inset;
      transition: none;
    }
  }
}

.form-control {
  @include autofill($input-color, $input-bg);

  /**
   * Input colors
   */
  @each $color, $value in $theme-colors {
    &.form-control-#{$color} {
      color: $value;
      &::placeholder {
        color: rgba($value, .7);
      }
      @include autofill($value, $input-bg);
    }
  }

  /**
   * Input without borders
   */
  &.form-control-text {
    border: none;
    padding: 0;
    height: auto
  }
}

.custom-radio {
  .custom-control-input ~ .custom-control-label {
    &::before {
      background-color: transparent;
    }
    &::after {
      background-image: $custom-radio-indicator-icon-unchecked;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: transparent;
    }
    &::after {
      background-image: $custom-radio-indicator-icon-checked;
    }
  }
}

.custom-control-input:focus~.custom-control-label:before {
  box-shadow: none; // 0 0 0 1px #000, 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.custom-control {
  min-height: 1.5em;
  padding-left: 1.5em;
}

.custom-control-label:after, .custom-control-label:before {
  top: .25em;
  left: -1.5em;
  width: 1em;
  height: 1em;
}

// Disable arrows in number field
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}