/**
 * Preload images class
 */
.preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

.background-box {
  background-position: center center;
}