html, body {
    height: 100%;
}

body {
    overflow-y: scroll;

    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
}

#barba-wrapper, .barba-container {
    // width: 100vw;
    overflow: hidden;
}