html, body {
    height: 100%;
}

body {
    overflow-y: scroll;

    // Disable bootstrap fix just show scollbar
    // &.modal-open {
    //     overflow-y: scroll;
    //     padding-right: 0 !important;
    // }
}

#barba-wrapper, .barba-container {
    // width: 100vw;
    overflow: hidden;
}