html, body {
    // height: 100%; not working on safari if we want to scroll to top: https://stackoverflow.com/a/30195865/1465919
    height: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 0 !important; // disable padding from shopify admin bar
}


[data-namespace]{
    width: 100%;
    min-height: calc(100vh - 126px);
    [data-namespace] {
        min-height: auto;
    }
}

.container, .container-fluid {
    display: block;
    background-color: $body-bg;
}

.col-auto {
    max-width: 100%;
}