.list-group {
    &.filter-collections {
        .list-group-item {
            border: none;
            padding: 0.3rem 0;
            font-size: 0.9rem;
            &.list-group-title {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 0.8rem;
            }
            &.active {
                background: transparent;
                font-weight: bold;
                color: $list-group-color;
            }
        }
    }
}
