.right-sidebar {
    .list-group {
        .list-group-item {
            border: none;
            &.level-1 {

            }
            &.level-2-title {
                font-weight: bold;
            }
            &.level-2 {
                padding-left: 2rem;
            }
        }
    }
}