.image-wrap {
    position: relative;
    .background-box {
        opacity: 1;
    }
    .caption {
        @include transition($transition-fade);
        position: absolute;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 100%;
        color: $white;
        text-align: center;
        font-weight: 300;
        &.caption-x-bottom {
            bottom: 40px;
            top: inherit;
        }
        &.caption-x-center {
            bottom: 0;
            top: 0;
            height: 100%;
            @extend .d-flex, .flex-column, .justify-content-center;

        }
        &.caption-y-center {
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }
    }
    &:hover {
        background-color: $black;
        .background-box {
            opacity: 0.2;
        }
    }
}