#main-navbar {
    .nav-item {
        .nav-link {
            text-transform: uppercase;
            padding-right: 1.5em;
            padding-left: 1.5em;
        }
    }
}

.footer-navbar {
    .nav-item {
        .nav-link {
            text-transform: uppercase;
        }
    }
}

.navbar-toggler {
    z-index: 1031;
}
