.custom-nav-link {
    text-transform: uppercase;
    padding-right: 1.5em;
    padding-left: 1.5em;
    color: $black;
    &:hover, &.active {
        color: $orange;
    }
}

#main-navbar {
    .nav-item {
        .nav-link {
           @extend .custom-nav-link;
        }
    }
}

.nav-item {
    &.dropdown {
        .dropdown-toggle {
            &::after {
                content: none;
            }
            @extend .custom-nav-link;
            cursor: pointer;
        }
        .dropdown-menu {
            top: 37px;
            left: 1.5em;
            border-top: 0;
            .dropdown-item {
                &:active {
                    background: transparent;
                }
            }
        }
    }
}

.footer-navbar {
    .nav-item {
        .nav-link {
            text-transform: uppercase;
        }
    }
}

.navbar-brand {
    @include media-breakpoint-down(xs) {
        // max-width: 200px;
        padding-right: 50px;
    }
}


.navbar-toggler {
    z-index: $zindex-fixed+1;
}


.navbar {
    // WORKAROUND
    &.fixed-top {
        width: 100vw;
    }
}