
.page-item {
  &.active .page-link {
    svg {
      fill: $pagination-active-color;
    }
  }

  &.disabled .page-link {
    svg {
      fill: $pagination-disabled-color;
    }
  }
}

.page-link {
  svg {
    fill: $pagination-color;
  }

  @include hover-focus {
    svg {
      fill: $pagination-hover-color;
    }
  }
}

.pagination {
  &.slide-buttons {
      .iconset {
          &.arrow, &.arrow-big {
              display: inline-block;
              margin: 0 4px;
          }
      }
      small {
        vertical-align: middle;
        line-height: 17px;
      }
  }
}
