.product-price {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

[data-namespace="product"] {
    .product-photo-carousel-arrows {
        .iconset {
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    .lead {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
    }
    .iconset.arrow {
        margin-left: 0;
        svg {
            height: 10px;
        }
    }
}

[data-colorcard="placeholder"] {
    background-image: none !important;
}
[data-colorcard="placed"] {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    margin-left: -9px;
    margin-right: -9px;
}

[data-toggle="colorcard"] {
    &[disabled] {
        opacity: 0.2;
        pointer-events: none; // Prevent js click event
    }
}