.right-sidebar {
    width: 250px;
    right: -250px;
    z-index: $zindex-navbar - 1 !important;
    .sidebar-wrapper {
        height: 100%;
        overflow: auto;
        background-color: $body-bg;
    }
}