$petty-font-size: 0.9rem;
$petty-letter-spacing: 0.1em;

.display-3, .display-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
}

b, strong {
    font-weight: $font-weight-bold;
}

h1,
.display-3,
.display-4,
.btn,
.text-uppercase,
.lead,
[data-blog-handle="dates"] article .article .title,
[data-blog-handle="dates"] article .article .content,
.image-wrap .caption
{
    letter-spacing: $petty-letter-spacing;
}

.list-group-item,
.nav-link,
.nav-item .dropdown-toggle,
.breadcrumb-item {
    letter-spacing: $petty-letter-spacing;
    font-size: $petty-font-size;
}