.text-serif {
  font-family: $font-family-serif;
}

.text-sans-serif {
  font-family: $font-family-base;
}

h1, .h1 {
  @extend .text-serif;
}

.text-normal, // <- TODO remove
.text-decoration-normal
{
  text-decoration: none !important;
}

.text-underline, // <- TODO remove
.text-decoration-underline
{
  text-decoration: underline !important;
}