$font-avantgarde-eot-path: "./font-avantgarde-book.eot" !default;
$font-avantgarde-woff-path: "./font-avantgarde-book.woff" !default;
$font-avantgarde-ttf-path: "./font-avantgarde-book.ttf" !default;
$font-avantgarde-svg-path: "./font-avantgarde-book.svg" !default;

$font-avantgarde-bold-eot-path: "./font-avantgarde-book-bold.eot" !default;
$font-avantgarde-bold-woff-path: "./font-avantgarde-book-bold.woff" !default;
$font-avantgarde-bold-ttf-path: "./font-avantgarde-book-bold.ttf" !default;
$font-avantgarde-bold-svg-path: "./font-avantgarde-book-bold.svg" !default;


$iconset-arrow-l-url: '';
$iconset-arrow-r-url: '';
$iconset-arrow-b-url: '';
$iconset-arrow-t-url: '';

$iconset-arrow-big-l-url: '';
$iconset-arrow-big-r-url: '';
$iconset-arrow-big-b-url: '';
$iconset-arrow-big-t-url: '';


$slick-prev-character: url($iconset-arrow-l-url);
$slick-next-character: url($iconset-arrow-r-url);
