$font-gt-walsheim-eot-path: "./GT-Walsheim-Light.eot" !default;
$font-gt-walsheim-woff-path: "./GT-Walsheim-Light.woff" !default;
$font-gt-walsheim-ttf-path: "./GT-Walsheim-Light.ttf" !default;
$font-gt-walsheim-otf-path: "./GT-Walsheim-Light.otf" !default;

$font-gt-walsheim-bold-eot-path: "./GT-Walsheim-Bold.eot" !default;
$font-gt-walsheim-bold-woff-path: "./GT-Walsheim-Bold.woff" !default;
$font-gt-walsheim-bold-ttf-path: "./GT-Walsheim-Bold.ttf" !default;
$font-gt-walsheim-bold-otf-path: "./GT-Walsheim-Bold.otf" !default;

$iconset-arrow-l-url: '';
$iconset-arrow-r-url: '';
$iconset-arrow-b-url: '';
$iconset-arrow-t-url: '';

$iconset-arrow-big-l-url: '';
$iconset-arrow-big-r-url: '';
$iconset-arrow-big-b-url: '';
$iconset-arrow-big-t-url: '';


$slick-prev-character: url($iconset-arrow-l-url);
$slick-next-character: url($iconset-arrow-r-url);
