#layout-bottom {
  .active, :focus {
    rv-icon {
      color: $pink;
    }
  }

  .nav-item:first-child {
    .nav-link {
      padding-left: 0;
    }
  }
  
  .nav-item:last-child {
    .nav-link {
      padding-right: 0;
    }
  }

}

.logo-text-lg {
  letter-spacing: .1rem;
  font-weight: bold;
  font-size: 1rem;
  a {
    display: inline-block;
    text-decoration: none;
  }
}

.fullscreen-menu {
  width: 100%;
  height: 100%;
  background-color: $dropdown-bg;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}