.sidenav-main-menu-toggler {
  padding-left: 2px;
  bs4-icon {
    @extend .rotate-animate;
    @extend .rotate-45;
  }
  &[aria-expanded='true'] {
    bs4-icon {
      @extend .rotate-0;
    }
  }
}


.logo-text {
  background-color: transparent;
  user-select: none;
}

.logo-text-top {
  letter-spacing: .1rem;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: $zindex-fixed + 1;
  a {
    padding-top: 0.8rem;
    display: inline-block;
    text-decoration: none;
  }
}
