.sidenav-main-menu-toggler {
  span {
    @extend .rotate-animate;
    @extend .rotate-0;
  }
  &[aria-expanded='true'] {
    // display: none !important;
    span {
      @extend .rotate-45;
    }
  }
}


.logo-text {
  background-color: transparent;
  user-select: none;
}

.logo-text-top {
  letter-spacing: .1rem;
  font-weight: bold;
  font-size: 0.9rem;
  a {
    padding-top: 0.8rem;
    display: inline-block;
    text-decoration: none;
  }
}